body{
    font-family: 'Ubuntu', sans-serif;
    margin: none;
}
p{
    text-align: center justify;    
}
.skip-section{
    display: flex;
    margin-bottom: 7%;
    margin-top: 4%;
    /* background-image: url(images/top-banner.png); */
    background-repeat: no-repeat;
}
h1{
    font-size: 50px;
}
.half-wide{
    width: 50%;
    margin-left: 11%;
}
#orange-coloring{
    color: orangered;
}
.link-button{
    text-decoration: none;
    /* background-image: linear-gradient(to right, #00dbdb 0%, #00bdbd 25%, #009e9e 50%, #00e0e0 75%, #00c2c2 100%); */
    background-image: linear-gradient(to right, #ffc861 0%, #ffbf47 25%, #ffb62e 75%, #ffad14 100%);
    padding: 10px 25px;
    font-weight: 600;
    color: whitesmoke;
    border-radius: 17px;
    box-shadow: 5px 8px 6px 7px orangered;
}
.about-me{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 5%;
}
.about-me img{
    width: 75%;
    margin-left: 20%;
    margin-bottom: 20%;
}
.go-down{
    margin-top: 10%;
}
#about-para{
    margin-right: 15%;
    text-align: justify;
}
.recipie-section{
    text-align: center;
}
.recipie-item{
    display: flex;
}
.one-third{
    margin: 5%;
    padding: 5px 15px;
    border: 5px crimson;
    border-radius: 5%;
    box-shadow: 6px 8px 7px 8px cornflowerblue;
}
.one-third img{
    width: 75%;
    padding-top: 10px;
    border: 10px;
    border-radius: 20%;
}
#recipie-para p{
    padding: 2px 20px;
    margin-left: 20%;
    margin-right: 20%;
}
.last-sec{
    padding: 5%;
    margin-bottom: 5%;
}
.fan-follower{
    display: flex;
    box-shadow: 3px 5px 35px orangered;
    border-radius: 20px;
}
.fan-collection{
    width: 20%;
    padding-left: 15%;
}

footer{
    margin: none;
    padding: 60px 10px;
    background-color: darkmagenta;
    text-align: center;
}
footer p{
    color: white;
}
.newsletter{
    text-align: center;
    margin-bottom: 5%;
}
.read-this{
    margin-left: 20%;
    margin-bottom: 10%;
    margin-top: 5%;
}
.news-cutting{
    display: flex;
    text-align: center;
}
.news-cutting img{
    width: 40%;
}